body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lavenderblush;
    color: palevioletred;
    padding: 5px;
    font-size: 14pt;
}
main {
    background-color: lightpink;
    color: blueviolet;
    padding: 10px;
}
footer {
    background-color: lavenderblush;
    color: palevioletred;
    padding: 5px;
    font-size: 14pt;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: BlueViolet;
    text-decoration: none;
}
a:visited {
    color: DarkViolet;
    text-decoration: underline;
}
a:hover {
    color: purple;
    text-decoration: underline;
    background-color: violet;
    box-shadow: 10px 10 px 15px DarkViolet;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
