body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lavenderblush;
    color: palevioletred;
    padding: 5px;
    font-size: 14pt;
}
main {
    background-color: lightpink;
    color: blueviolet;
    padding: 10px;
    margin: 10px 20px 53px;
}
footer {
    background-color: lavenderblush;
    color: palevioletred;
    padding: 5px;
    font-size: 14pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: BlueViolet;
    text-decoration: none;
}
a:visited {
    color: DarkViolet;
    text-decoration: underline;
}
a:hover {
    color: purple;
    text-decoration: underline;
    background-color: violet;
    box-shadow: 10px 10 px 15px DarkViolet;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid BlueViolet;
    background-color: Thistle;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: MediumPurple;
    box-shadow: 0 0 15px #00000030;
}